@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');


input[type="text"] {
    border-radius: 5px; /* Arredondar as bordas */
    box-shadow: 2px 2px 5px #888;
    border: 1px solid #ccc;
    width: 30rem;
    height: 40px;
}

textarea{
    border-radius: 5px; /* Arredondar as bordas */
    box-shadow: 2px 2px 5px #888;
    border: 1px solid #ccc;
}

  